@import "./colors";

.no-scroll{
    overflow: hidden;   
}
.dark-background{
    background: #978688;
}

.cart_cont{
    // border:2px solid red;
    margin-top: 70px;
    .total_amount_dialog{
        // border: 2px solid $primary;
        width: 92%;
        background: white;
        padding:2px;
        position: absolute;
        top: 30%;
        border: none;
        border-radius: 8px;
        z-index:20;
        .CgClose{
            // border: 2px solid red;
            // margin-left: 92%;
            // margin-top: 2px;
            position: absolute;
            top: 4px;
            right: 4px;
            font-size: 20px;
            background: rgb(231, 231, 231);
            cursor:pointer;
            &:hover{
                background: rgb(244, 244, 244);
                color: gray;
            }
        }
        .table_inner_div{
            // border: 2px solid rgb(70, 41, 255);
            text-align: center;
            overflow-x: scroll;
            width:97.5%;
            padding: 2px;
            margin-top: 35px;
            // margin-bottom: 10px;
            padding-bottom: 10px;
            table{
                // border: 2px solid rgb(130, 238, 166);
                width: 400px;
                margin:0 auto;
                th{
                    // border: 2px solid indigo;
                }
                td{
                    // border: 2px solid blue;
                }
            }
        }
    }
    .checkout_all_cont{
        border: 2px solid $primary;
        width: 40%;
        min-width: 150px;
        margin-left: auto;
        margin-top:10px;
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        border-radius: 8px;
        color: $primary;
        .checkout_info{
            // border: 2px solid green;
            width: max-content;
            height: 35px;
            margin-top: -14px;
            margin-left: auto;
            margin-right: 0px;
            font-size: 25px;
            padding: 0;
            cursor: pointer;
            >:hover.BiInfoCircle{
                color: $secondary;
            }
            .BiInfoCircle{
                // :hover{
                    
                // }
            }
        }
        .total_amount{
            // border: 2px solid green;
            font-weight: bold;
            width: max-content;
            margin: 10px auto;
        }
        button{
            padding:10px;
            font-weight:800;
            // background:#ff3153;
            background:$primary;
            color:white;
            border:none;
            border-radius:4px;
            cursor:pointer;
            transition: 0.2s;
            font-size: 9px;
            
            &:hover{
                // background:#ff8753;
                background:$secondary;
            }
        }
    }
    .product_cont{
        // border: 2px solid violet;
        margin-top: 20px;
        .include_cont{
            // border: 2px solid red;
            display: flex;
            margin-left: auto;

            .include_heading{
                // border: 2px solid blue;
                padding: 5px;
            }
            input{
                // border: 2px solid indigo;
                width: 15px;
                height: 15px;
            }
        }
    }
}