



.hamburger_side_cont{
    // border: 2px solid rgb(0, 0, 0);
    width: 70%;
    height:108%;
    font-size: 24px;
    // background: gainsboro;
    // z-index: 20;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    .hamburger_side{
        .ham_navlink{
        }
    }
}








@media screen and (width <= 570px) {
    .hamburger_side_cont{
        // border: 2px solid rgb(255, 0, 43);
        display: block;
        background: white;
        z-index: 26;
        .hamburger_side{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .ham_navlink{
                font-size: 16px;
                color:#515151;
                text-decoration: none;
                padding: 20px 0;
            }
        }
    }
}
