@import "./colors";



.hamburger_side_cont{
    // border: 2px solid rgb(0, 0, 0);
    width: 70%;
    height:108%;
    font-size: 24px;
    // background: gainsboro;
    // z-index: 20;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    .hamburger_side{
        .ham_navlink{

        }
    }
}








@media screen and (width <= 570px) {
    .hamburger_side_cont{
        // border: 2px solid rgb(255, 0, 43);
        display: block;
        background: white;
        z-index: 26;
        .hamburger_side{
            // border: 2px solid rgb(0, 255, 162);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // padding: 10px 40px;
            // align-items: center;
            span{
                border-top: 1px solid #828282;
            }
            .ham_nav_heading{
                // border: 2px solid #45c756;
                font-size: 14px;
                color:$primary;
                padding: 10px 40px;
            }
            .routes_cont{
                // border: 2px solid rgb(255, 0, 204);
                display: flex;
                flex-direction: column;
                padding: 10px 40px;

                .ham_navlink{
                    // border: 2px solid rgb(30, 0, 255);
                    font-size: 11px;
                    color:#515151;
                    text-decoration: none;
                    padding: 10px 0;
                }
            }
        }
    }
}
