@import "_colors";


.header_cont{
  //  border:2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    background: linear-gradient(90deg, $secondary, $primary);
    border-radius: 8px;
    // .search_inp{
    //     display: none;
    // }
    .user_name_mobile{
        display: none;
    }
    img{
        width: 50px;
        border-radius: 2rem;
        background: white;
    }
    .navbar_cont{
       // border: 2px solid greenyellow;
        width: 60%;
        display: flex;
        justify-content: space-between;
        .user_name_pc{
            color:white;
            font-size: 1.2rem;
        }
        .header_navlink{
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (width <= 570px) {
    .header_cont{
        justify-content: flex-end;
        padding:4px;
        .user_name_mobile{
           // border: 2px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:white;
            width: 30%;
            font-size: 1.2rem;
            margin:0 10px;
            .header_navlink{
                font-size: 1.3rem;
                text-decoration: none;
                color: white;
            }
        }
        img{
            width: 40px;
            border-radius: 2rem;
            background: white;
        }
        .navbar_cont{
            display: none;
        }
    }
}
