
.login_links_cont{
    // border: 2px solid rgb(170, 255, 170);
    padding: 1rem;
    max-width: 38rem;
    margin: 0px auto;
    font-size: 14px;
    
    .login_links{
        // border: 2px solid green;
        // display: block;
        padding:0.5rem;
    }
}