@import "./colors";

.product_container_background{
    // border: 2px solid greenyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0 0 0;
    .image_cont{
        // border:2px solid violet;
        width: 200px;
        img{
            width: 100%;
        }
    }
    .details_cont{
        // border:2px solid blue;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 300px;
        .detail_cont{
            // border:2px solid green;
            font-size: 11px;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            
            .detail_heading{
                // border:2px solid yellow;
                font-weight: bold;
                color: #515151;
            }
            .detail_value{
                // border:2px solid red;
                color: #424242;
                width: 40%;
                text-align: right;
                .write_review_btn{
                    border: 1px solid $primary;
                    background: transparent;
                    color: $primary;
                    padding: 10px;
                    border-radius: 4px;
                    font-size: 9px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (width <= 570px) {
    .product_container_background{
        .image_cont{
            // border:2px solid violet;
            width: 150px;
            img{
                // border:2px solid indigo;
                width: 100%;
            }
        }
        .details_cont{
            .detail_cont{
                font-size: 9px;
                .detail_heading{
                }
                .detail_value{
                    .write_review_btn{
                    }
                }
            }
        }
    }
}