@import "./colors";

.product_cont{
    // border:2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap:wrap;
    margin-top: 50px;
    .delete_product_system{
        // border: 2px solid red;
        display: flex;
        align-items: center;
        position: relative;
        width: 115px;
        // margin-left: auto;
        span{
            // border: 2px solid blue;
            padding:5px;
            font-size: 9px;
        }
        .MdDeleteForever{
            // border: 2px solid rgb(0, 255, 179);
            width:18px;
            height:18px;
        }
    }
    .wishlist_system_cont{
        // border: 2px solid red;
        display: flex;
        align-items: center;
        position: relative;
        width: 95px;
        margin-left: auto;
        span{
            padding:5px;
            font-size: 9px;
        }
        .heart_icon{
            // border: 2px solid greenyellow;
            width:18px;
            height:18px;
            position: absolute;
            top: 4px;
            right: 0;
        }
        .wishlist_checkbox{
            // border: 2px solid greenyellow;
            width:20px;
            height:20px;
            position: absolute;
            top: 0px;
            right: -3px;
            opacity: 0;
        }
    }
}
.reviews_cont{
    .review_heading{
        padding:10px;
        font-size: 14px;
        background:linear-gradient(90deg, $primary, $secondary);
        color: white;
        border-radius: 8px;
    }
    .review_cont{
        // border: 2px solid violet;
        // border: 2px solid red;
        background: $backgroundThemeSecondary;
        margin: 10px 0 10px 0;
        display: flex;
        padding:10px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        .user_photo_cont{
            // border: 2px solid red;
            width: 150px;
            height: 150px;
            align-content: center;
            text-align: center;


            img{
                // border: 2px solid green;
                width:80px;
                height: 80px;
                border-radius:50%;
                // background: red;
            }
        }
        .user_detail{
            // border: 2px solid blue;
            font-size: 14px;
            text-align: center;
            // margin: 0 10px;
            width: 450px;
            min-width: 200px;
            word-wrap: break-word;
            .user_email{
                // border: 2px solid green;
                font-weight: bold;
                // color: #515151;
                color: $primary;

            }
            .comment{
                color: #515151;
                text-align: justify;
                // padding:10px 20px;
            }
        }
    }
}


@media screen and (width <= 570px) {
    // .product_cont{
    //     gap: 3rem;
    // }
    .reviews_cont{
        .review_heading{
            padding:10px;
            font-size: 11px;
            background:linear-gradient(90deg, $primary, $secondary);
            color: white;
            border-radius: 8px;
        }
        .review_cont{
            .user_detail{
                font-size: 11px;
            }
        }
    }
}